.button{
    -fx-background-color: rgb(134, 0, 0);
    -fx-background-radius: 10;
    -fx-text-fill: #fff;
    -fx-border-color: rgb(255, 223, 223);
    -fx-border-radius: 10;
}

.button:hover{
    -fx-background-color: rgb(255, 223, 223);
    -fx-border-color: rgb(134, 0, 0);
    -fx-text-fill: rgb(134, 0, 0);
}

.button:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(255,0,0);
}

/* Alternative - Green */

.buttonGreen{
    -fx-background-color: rgb(0, 134, 0);
    -fx-background-radius: 10;
    -fx-text-fill: #fff;
    -fx-border-color: rgb(223, 255, 223);
    -fx-border-radius: 10;
}

.buttonGreen:hover{
    -fx-background-color: rgb(223, 255, 223);
    -fx-border-color: rgb(0, 134, 0);
    -fx-text-fill: rgb(0, 134, 0);
}

.buttonGreen:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(255,0,0);
}